<div class="container pt-2">
  <div class="row pt-2" style="color:#444">
    <div class="col-2 text-center cursor-seleccionar" (click)="atras()">
      <fa-icon [icon]="faArrowLeft" size="lg"></fa-icon>
    </div>
    <div class="col-10">
      <h4>Selecciona un tamaño</h4>
    </div>
  </div>
</div>
<div class="container">
  <hr class="px-2 color-principal my-2" >
</div>
<div class="container">
  <div class="row px-2 text-center">
    <div *ngFor="let item of tamanos;let index = index"  class="col-6 col-md-3">
      <div class="mx-2 my-2 border rounded shadow py-1 bordes-principal cursor-seleccionar"
      (click)="avanzarMenu(item)">
        <div class="form-check mx-3 py-1">
          <input class="form-check-input fs-5" type="radio" id="{{item.nombre}}"
          [checked]="idChecked == item.id">
          <label class="form-check-label fs-5 color-principal cursor-seleccionar" for="{{item.nombre}}">
            {{item.nombre}}
          </label>
        </div>
        <div>
          Precio base:
          <h1 class="texto-principal pt-1">$ {{item.precio_base | number}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-3 px-3">
  <div class="row text-center mx-3">
    <div class="col-12">
      <button class="btn" (click)="atras()">
        <div class="row">
          <fa-icon [icon]="faArrowAltCircleLeft" size="3x"></fa-icon>
        </div>
        <div class="row px-0 align-items-end pt-2" >
          <h6>Volver</h6>
        </div>
      </button>
    </div>
  </div>
</div>
